.product-form-container {
    width: 600px;
    background-color: #fff;
    padding: 2rem;
    padding-top: 1rem;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.add-product-form {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 60%;
}

.success-message, .failed-message {
    width: 600px;
}

button {
    border-radius: 0;
}

@media (max-width: 576px) {
    .product-form-container {
        width: 95%;
        padding: 2rem;
    }

    .add-product-form {
        flex-direction: column;
    }

    .success-message, .failed-message {
        width: 95%;
    }

    .left,
    .right {
        width: 100%;
    }
}