<nav class="nav">
    <div class="heading">
        <fa-icon (click)="flipSidebar(); $event.stopPropagation();" (blur)="showSidebar = false;" class="fa-2xl barIcon"
            [icon]="barIcon"></fa-icon>
        <ul class="Category" (click)="$event.stopPropagation();" *ngIf="showSidebar">
            <h6>Shop by Category</h6>
            <p>D.&J. Fashion</p>
            <li><a (click)="showSidebar = false; CategoryProducts('Shirt');">Shirt</a></li>
            <li><a (click)="showSidebar = false; CategoryProducts('T-Shirt');">T-Shirt</a></li>
            <li><a (click)="showSidebar = false; CategoryProducts('Jeans');">Jeans</a></li>
        </ul>
        <h1 routerLink="/">D.&J. Fashion</h1>
    </div>
    <div class="nav-search">
        <input #SearchProduct type="text" placeholder="Search for Products" />
        <button (click)="searchProducts(SearchProduct.value)">Search</button>
        <!-- <ul class="search-suggestion-result" *ngIf="searchSuggestion">
            <li *ngFor="let item of searchSuggestion">
                <a (mousedown)="redirectPage(item.id)">{{item.productName}}</a>
            </li>
        </ul> -->
    </div>
    <div class="nav-itemss" [ngSwitch]="switchCaseCondition">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller">Seller</a></li>
            <li><a routerLink="user">User</a></li>
            <li><a routerLink="user">Cart({{CartItem}})</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/seller-homepage">Products</a></li>
            <li><a routerLink="seller-add-product" [class.disabled]="seller.serverError ? true : null">Add-Product</a></li>
            <li><a (click)="SellerLogoutfun()">Log-out</a></li>
            <li><a routerLink="/">{{ SellerName | titlecase}}</a></li>
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a routerLink="seller">Seller</a></li>
            <li><a routerLink="">Home</a></li>
            <li><a >{{Username | titlecase}}</a></li>
            <li><a (click)="UserLogoutfun()">Logout</a></li>
            <li><a routerLink="/addToCart">Cart({{CartItem}})</a></li>
        </ul>
    </div>
</nav>