/* Custom Navbar Styling */
a {
    cursor: pointer;
}

nav {
    box-shadow: 0 2px 2.5px 0 rgba(0,0,0,.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    /* color: #64af3d; */
    /* White color */
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.collapse {
    justify-content: space-evenly;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    font-size: 1.2rem;
    margin-left: 15px;
    /* color: #64af3d !important; */
    /* White color */
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
}

.form-control {
    width: 30vw;
}

/* Search button animation */
.btn-outline-success {
    background-color: transparent;
    border-color: black;
    /* White color */
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-success:hover {
    /* color: #64af3d; */
    /* Blue color */
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: black;
}

.navbar-collapse {
    flex-direction: row-reverse;
}

.nav-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    left: -300px;
    top: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidenav a {
    padding: 10px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #f4f4f4;
}

.sidenav .sidenav-content {
    padding: 20px;
}

.sidenav h4 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333333;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    /* Move it slightly upwards */
    right: 20px;
    /* Move it slightly to the right */
    font-size: 24px;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it's above everything */
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    color: #333333;
    padding: 20px;
    border: none;
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust opacity as needed */
    z-index: 998;
    /* Ensure it's below the sidenav but above the main content */
}

.user-options {
    margin-bottom: 20px;
}

.navigation-links {
    margin-bottom: 30px;
}

.navigation-links h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.navigation-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-links li {
    margin-bottom: 10px;
}

.navigation-links a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;
}

.navigation-links a:hover {
    color: #333;
}

/* server-down-warning.component.css */

.server-down-warning {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.message {
    color: #721c24;
    font-size: 18px;
    text-align: center;
}

/* Responsive styles */
@media screen and (max-width: 1070px) {

    .nav-link {
        font-size: 1rem;
    }

    .form-control {
        width: 25vw;
    }
}

@media (max-width: 576px) {

    .server-down-warning {
        width: 80%;
    }

    .navbar {
        padding-top: 2%;
    }

    .form-control {
        width: 100%;
    }

    .nav-items {
        margin: 2% 0;
        justify-content: space-evenly;
    }

    .nav-link {
        margin: 0;
        font-size: 1rem;
    }

    .navbar-collapseee {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .sidenav {
        padding-top: 60px;
    }
}

/* Responsive styles */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}