<nav class="navbar navbar-expand-lg navbar-light bg-light" #componentContainer>

    <!-- Brand Name -->
    <div>
        <span class="openbtn" (click)="toogle(); $event.stopPropagation();" (blur)="showSidenav = false;">&#9776;</span>
        <a class="navbar-brand" (click)="scrollTop()" routerLink="/">Tarun's Fashion</a>
    </div>

    <!-- Search Bar -->
    <div class="navbar-collapseee">
        <form *ngIf="switchCaseCondition !== 'seller'" #searchProduct="ngForm"
            (ngSubmit)="searchProducts(SearchProduct.value)" class="d-flex mx-auto">
            <input style="border-radius: 0;" #SearchProduct [(ngModel)]="searchQuery"
                [ngModelOptions]="{standalone: true}" class="form-control me-2" id="search-product" type="search"
                placeholder="Search for Products" aria-label="Search">
            <button class="btn btn-outline-success" style="border-radius: 0;" type="submit">Search</button>
        </form>
        <form *ngIf="switchCaseCondition === 'seller'" (ngSubmit)="sellerProductSearch(sellerSearch.value)"
            class="d-flex mx-auto">
            <input style="border-radius: 0;" [formControl]="sellerSearch" class="form-control me-2" type="search"
                placeholder="Seller Search for Products" aria-label="Search" id="seller-search">
            <button class="btn btn-outline-success" style="border-radius: 0;" type="submit">Search</button>
        </form>
    </div>

    <!-- Nav Items -->
    <div class="navbar-collapseee" [ngSwitch]="switchCaseCondition">

        <!-- Default -->
        <ul class="nav-items" *ngSwitchCase="'default'">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li> -->
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="user">User</a> -->
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        User
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>My Profile</button>
                        <button ngbDropdownItem>Orders</button>
                        <button ngbDropdownItem routerLink="user">Signin</button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="viewcart">Cart ({{cartItems}})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="seller">Seller</a>
            </li>
        </ul>

        <!-- Seller -->
        <ul class="nav-items" *ngSwitchCase="'seller'">
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="user">User</a> -->
                <div ngbDropdown class="d-inline-block" placement="bottom">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{sellerName | titlecase}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem routerLink="seller-dashboard">All Products</button>
                        <button ngbDropdownItem routerLink="seller-add-product">Add-Product</button>
                        <button ngbDropdownItem (click)="sellerLogout()">Log-out</button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
        </ul>

        <!-- User -->
        <ul class="nav-items" *ngSwitchCase="'user'">
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="user">User</a> -->
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{userName | titlecase}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>My Profile</button>
                        <button ngbDropdownItem>Orders</button>
                        <button ngbDropdownItem (click)="UserLogoutfun()">Log-out</button>
                    </div>
                </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="">{{userName | titlecase}}</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="UserLogoutfun()">Log-out</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="viewcart" routerLinkActive="active">Cart ({{ cartItems }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="seller" routerLinkActive="active">Seller</a>
            </li>
        </ul>
    </div>

    <!-- SideNav OverLay -->
    <div class="sidenav-overlay" *ngIf="showSidenav" (click)="toogle();"></div>

    <!-- SideNav Bar -->
    <div class="sidenav" (click)="$event.stopPropagation();" [ngStyle]="{'left': showSidenav ? '0' : '-300px'}">
        <a class="closebtn" style="padding: 5px;" (click)="toogle();">&times;</a>
        <div class="sidenav-content">
            <div class="navbar-brand">
                <h2>Tarun's Fashion</h2>
            </div>
            <div class="user-options">
                <div (click)="toogle()">
                    <a routerLink="user" *ngIf="switchCaseCondition === 'default'">Sign In</a>
                    <a routerLink="" *ngIf="switchCaseCondition === 'user' || switchCaseCondition === 'seller'">Hello,
                        {{userName | titlecase}}</a>
                </div>
            </div>
            <hr>
            <div class="navigation-links">
                <h4>Shop by Category</h4>
                <ul>
                    <li><a (click)="this.showSidenav = false;" [routerLink]="['category']"
                            [queryParams]="{ cat: 'shirt' }">Shirt</a></li>
                    <li><a (click)="this.showSidenav = false;" [routerLink]="['category']"
                            [queryParams]="{ cat: 'tshirt' }">T-Shirt</a></li>
                    <li><a (click)="this.showSidenav = false;" [routerLink]="['category']"
                            [queryParams]="{ cat: 'jeans' }">Jeans</a></li>
                </ul>
            </div>
            <hr>
            <div class="navigation-links">
                <h4>Help & Settings</h4>
                <ul>
                    <li><a>Your Account</a></li>
                    <li><a>Customer Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Server Down Message -->
<div class="server-down-warning" *ngIf="isServerDown">
    <div class="message">
        <p>{{serverDownMessage}}</p>
    </div>
</div>