/* Custom Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(225, 110, 110);
    /* White color */
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.collapse {
    justify-content: space-evenly;
}

.navbar-toggler {
    border: none;   
}

.nav-link {
    font-size: 1.2rem;
    margin-left: 15px;
    color: rgb(225, 110, 110) !important;
    /* White color */
    transition: color 0.3s ease;
}

.active {
    font-weight: bold;
}

.form-control {
    width: 30vw;
}

/* Search button animation */
.btn-outline-success {
    background-color: transparent;
    border-color: black;
    /* White color */
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-success:hover {
    color: rgb(225, 110, 110);
    /* Blue color */
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: black;
}

#mobile {
    display: none !important;
}

#notmobile {
    display: initial;
}

@media (max-width: 576px) {

    #notmobile {
        display: none;
    }

    #mobile {
        display: block !important;
    }

    .form-control {
        width: 100%;
    }

    .navbar-brand {
        margin-left: 1%;
    }

    .navbar-toggler {
        padding: 1%;
    }
}