<nav class="navbar navbar-expand-lg navbar-light bg-light" #componentContainer>
    <div>
        <span class="openbtn" (click)="toogle(); $event.stopPropagation();" (blur)="showSidenav = false;">&#9776;</span>
        <a class="navbar-brand" (click)="scrollTop()" routerLink="/">Tarun's Fashion</a>
    </div>
    <div class="navbar-collapseee">
        <form #searchProduct="ngForm" (ngSubmit)="searchProducts(SearchProduct.value)" class="d-flex mx-auto">
            <input style="border-radius: 0;" #SearchProduct ngModel [ngModelOptions]="{standalone: true}" class="form-control me-2" type="search" placeholder="Search for Products"
                aria-label="Search">
            <button class="btn btn-outline-success" style="border-radius: 0;" type="submit">Search</button>
        </form>
    </div>
    <div class="navbar-collapseee" [ngSwitch]="switchCaseCondition">
        <ul class="nav-items" *ngSwitchCase="'default'">
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="seller">Seller</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="user">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="addToCart">Cart ({{CartItem}})</a>
            </li>
        </ul>
        <ul class="nav-items" *ngSwitchCase="'seller'">
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="seller-homepage">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="seller-add-product">Add-Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" (click)="SellerLogoutfun()">Log-out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar">{{ SellerName | titlecase}}</a>
            </li>
        </ul>
        <ul class="nav-items" *ngSwitchCase="'user'">
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="seller"
                    routerLinkActive="active">Seller</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="">{{Username | titlecase}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" (click)="UserLogoutfun()">Log-out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSidebar = !showSidebar" routerLink="addToCart"
                    routerLinkActive="active">Cart ({{ CartItem }})</a>
            </li>
        </ul>
    </div>
    <div class="sidenav-overlay" *ngIf="showSidenav" (click)="toogle();"></div>
    <div class="sidenav" (click)="$event.stopPropagation();" [ngStyle]="{'left': showSidenav ? '0' : '-300px'}">
        <a class="closebtn" style="padding: 5px;" (click)="toogle();">&times;</a>
        <div class="sidenav-content">
            <div class="navbar-brand">
                <h2>Tarun's Fashion</h2>
            </div>
            <div class="user-options">
                <div (click)="toogle()">
                    <a routerLink="user" *ngIf="switchCaseCondition === 'default'">Sign In</a>
                    <a routerLink="" *ngIf="switchCaseCondition === 'user' || switchCaseCondition === 'seller'">Hello, {{Username | titlecase}}</a>
                </div>
            </div>
            <hr>
            <div class="navigation-links">
                <h4>Shop by Category</h4>
                <ul>
                    <li><a (click)="this.showSidenav = false;" [routerLink]="['category']" [queryParams]="{ cat: 'shirt' }">Shirt</a></li>
                    <li><a (click)="this.showSidenav = false;" [routerLink]="['category']" [queryParams]="{ cat: 'tshirt' }">T-Shirt</a></li>
                    <li><a (click)="this.showSidenav = false;" [routerLink]="['category']" [queryParams]="{ cat: 'jeans' }">Jeans</a></li>
                    <!-- Add more categories here -->
                </ul>
            </div>
            <hr>
            <div class="navigation-links">
                <h4>Help & Settings</h4>
                <ul>
                    <li><a>Your Account</a></li>
                    <li><a>Customer Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- server-down-warning.component.html -->
<div class="server-down-warning" *ngIf="isServerDown">
    <div class="message">
        <p>Sorry, the server is currently down. You are being logged out.</p>
    </div>
</div>