<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>We are dedicated to providing you with the latest trends and high-quality men's fashion items. Elevate your style with our curated collections.</p>
      </div>
      <div class="col-md-4">
        <h3>Quick Links</h3>
        <ul class="quick-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>