.footer {
    background-color: #f9f9f9;
    color: #333;
    padding: 50px 0;
}

.footer h3 {
    color: #333;
}

.footer p {
    color: #666;
}

.links {
    display: flex;
}

.quick-links {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links li a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.quick-links li a:hover {
    color: #333;
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #333;
    font-size: 20px;
}

.social-icons li a:hover {
    color: #666;
}

@media (max-width: 767px) {
    .footer {
        padding: 30px 15px;
        text-align: left;
    }

    .links {
        padding: 0 2rem;
        justify-content: space-between;
    }

    .footer .container {
        padding: 0;
    }

    .col-md-4 {
        margin-bottom: 30px;
    }
/* 
    .social-icons {
        text-align: center;
    } */
}