ul{
    margin: 0;
    padding: 0;
}
.footer {
    padding: 15px 40px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: rgb(225, 110, 110);
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .hide{
        display: none;
    }
}