<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>We are dedicated to providing you with the latest trends and high-quality men's fashion items.
                    Elevate your
                    style with our curated collections.</p>
            </div>
            <div class="links col-md-8">
                <div>
                    <h3>Quick Links</h3>
                    <ul class="quick-links">
                        <li><a routerLink="/">Home</a></li>
                        <li><a>Shop</a></li>
                        <li><a>About Us</a></li>
                        <li><a>Contact Us</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Follow Us</h3>
                    <ul class="quick-links">
                        <li><a href="https://www.linkedin.com/in/tarunboricha/" target="_blank"
                                rel="noreferrer">LinkedIn</a></li>
                        <li><a href="https://twitter.com/TarunBoricha1" target="_blank" rel="noreferrer">Twitter</a>
                        </li>
                        <li><a href="https://www.instagram.com/tarunborichaa/" target="_blank"
                                rel="noreferrer">Instagram</a></li>
                        <li><a href="https://github.com/tarunboricha" target="_blank" rel="noreferrer">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>