<div class="checkout">
    <h1>Checkout</h1>
    <div class="row">
      <div class="col-sm-7">
        <h3 style="margin-bottom: 20px;" >Add Shipping Details</h3>
        <div class="form">
            <form  #orderData = "ngForm" (ngSubmit)="orderNow(orderData.value)">
                <div class="inputbox">
                    <input type="text" ngModel name = "email" required="required">
                    <span>User Email</span>
                </div>
                <div class="inputbox">
                    <input type="address" ngModel name = "address" required="required">
                    <span>User Address</span>
                </div>
                <div class="inputbox">
                    <input type="text" ngModel name = "contact" required="required">
                    <span>User Contact</span>
                </div>
                <div class="inputbox-btn">
                    <button class="inputbox" ngModule>Order Now</button>
                </div>
            </form>
            <div style="text-align: center; color: rgb(80, 210, 80);">
                <p>{{orderMsg}}</p>
            </div>
        </div>
      </div>
      <div class="col-sm-5">
          <h3>Total Amount: {{totalPrice}}</h3>
          <h4>Payment Method : <b>Pay on delivery</b></h4>
      </div>
    </div>
  </div>