
.product-image{
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

.productDetails{
    margin-top: 45px;
    margin-bottom: 60px;
}
h1{
    color: rgb(225, 110, 110);
    margin-bottom: 20px;
}

h5,h3,h6{
    margin-bottom: 20px;
    font-weight: 400;
}
.quantity-group{
    margin-top: 20px;
}

.button-details{
    height: 50px;
    background: rgb(225, 110, 110);
    color: #fff;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.quantity-group button{
    padding: 10px;
    border: 1px solid rgb(225, 110, 110);
    color: rgb(225, 110, 110);
}

.quantity-group input{
    height: 45px;
    width: 50px;
    padding: 10px;
}

.temp{
    display: flex;
}
.temp h5{
    padding-right: 20px;
}

.button-details:disabled{
    cursor: default;
}

#buynow{
    padding: 10px;
    cursor: initial;
}

@media screen and (max-width: 767px) {
    .details{
        margin-bottom: 50px;
    }

    .product-image{
        margin-bottom: 20px;
        height: 45vh;
    }    
}