<div class="spinning-loader" *ngIf="isLoader1">
	<div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<h1 style="margin: 0; margin-left: 20px; color: black;"> loading...</h1>
</div>
<div class="row productDetails" *ngIf="detailsOfproduct && !isLoader1">
    <div class="col-sm-6">
        <img class="product-image" src="{{detailsOfproduct.productURL}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{detailsOfproduct.productName}}</h1>
            <h3>Price: {{detailsOfproduct.productPrice | currency: 'INR'}}</h3>
            <div class="temp">
                <h5>Category: {{detailsOfproduct.productType}}</h5>
                <h5>Color: {{detailsOfproduct.productColor}}</h5>
            </div>
            <div class="col" style="margin-bottom: 10px;">
                <div ngbDropdown class="d-inline-block">
                    <button [disabled]="removeCard" style="color:rgb(225, 110, 110); border-color: rgb(225, 110, 110);" type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                        {{Selectsize}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="size(8)" ngbDropdownItem>8</button>
                        <button (click)="size(9)" ngbDropdownItem>9</button>
                        <button (click)="size(10)" ngbDropdownItem>10</button>
                        <button (click)="size(11)" ngbDropdownItem>11</button>
                        <button (click)="size(12)" ngbDropdownItem>12</button>
                    </div>
                </div>
            </div>
            <h6>Discription: {{detailsOfproduct.productDisc}}</h6>
            <button [disabled]="isLoader" class="button-details" style="width: 121.2px;" (click)="AddtoCartProduct()" *ngIf="!removeCard"><div *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div> Add
                to Cart</button>
            <button [disabled]="isLoader" class="button-details" (click)="RemovetoCartProduct(detailsOfproduct.id)" *ngIf="removeCard"><div *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div> Remove
                to Cart</button>
            <button class="button-details" id="buynow">Buy Now</button>
            <div class="quantity-group">
                <button [disabled]="removeCard || isLoader" (click)="handleQuantity('min')">-</button>
                <button style="cursor: default; width: 50px;">{{productQuantity}}</button>
                <button [disabled]="removeCard || isLoader" (click)="handleQuantity('plus')">+</button>
            </div>
        </div>
    </div>
</div>