<div class="spinning-loader" *ngIf="isLoader1">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h1 style="margin-left: 20px;"> loading...</h1>
</div>

<div class="temppp"></div>
<main class="containerr" *ngIf="!isLoader1 && detailsOfproduct">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        <img class="active loaded" loading="lazy" data-image="black" [src]="detailsOfproduct.productURL" alt="">
    </div>


    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>{{detailsOfproduct.productType}}</span>
            <h1>{{detailsOfproduct.productName}}</h1>
            <p>{{detailsOfproduct.productDisc}}</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

            <!-- Product Color -->
            <div class="product-color">
                <span style="margin-top: 5px; margin-right: 20px;">Colour: {{detailsOfproduct.productColor}}</span>
            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>{{detailsOfproduct.productPrice | currency:'INR'}}</span>
        </div>

        <div class="product-color">
            <button [disabled]="isLoader" (click)="AddtoCartProduct()" *ngIf="!removeCard" class="cart-btn">
                <div *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div> Add to cart
            </button>
            <button [disabled]="isLoader" (click)="RemovetoCartProduct(detailsOfproduct.id)" *ngIf="removeCard"
                class="cart-btn">
                <div *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div> Remove to Cart
            </button>
            <div ngbDropdown class="d-inline-block" style="margin-left: 30px; margin-top: 5px;">
                <button [disabled]="removeCard" style="border-color: black;" type="button" class="btn"
                    id="dropdownBasic1" ngbDropdownToggle>
                    {{Selectsize}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="size(38)" ngbDropdownItem>38</button>
                    <button (click)="size(40)" ngbDropdownItem>40</button>
                    <button (click)="size(42)" ngbDropdownItem>42</button>
                    <button (click)="size(44)" ngbDropdownItem>44</button>
                    <button (click)="size(46)" ngbDropdownItem>46</button>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="trending-products">
    <h2>Similar Products</h2>
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let product of similarProducts">
            <div class="card product-card" routerLink="/product/{{product.id}}">
                <img [src]="product.productURL" class="card-img-top loaded" loading="lazy" [alt]="product.productName">
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName }}</h5>
                    <p class="card-text">{{ product.productPrice | currency: 'INR'}}</p>
                    <!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <button [disabled]="isLoader" class="button-details" style="width: 121.2px;" (click)="AddtoCartProduct()" *ngIf="!removeCard"><div *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> Add
    to Cart</button>
<button [disabled]="isLoader" class="button-details" (click)="RemovetoCartProduct(detailsOfproduct.id)" *ngIf="removeCard"><div *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> Remove
    to Cart</button>
<button class="button-details" id="buynow">Buy Now</button> -->