.seller-dashboard-container {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

hr {
    margin: 5px;
    border: 0;
}

table {
    text-align: center;
    color: black;
    border-collapse: collapse;
}

table td,
table th {
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    object-fit: cover;
    object-position: 50% 20%;
}

p {
    cursor: pointer;
}

@media (max-width: 576px) {

    .seller-dashboard-container {
        margin: 0.5rem;
    }

    img {
        width: 70px;
        height: 70px;
    }

    .price,
    .category,
    .color {
        display: none;
    }
}