.cart-page{
    margin-top: 40px;
    margin-bottom: 70px;
}
.cart-page h1{
    text-align: center;
}

.details button,.summary button {
    height: 50px;
    background: rgb(225, 110, 110);
    color: #fff;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.summary button{
    width: 100px;
}
.summary button:disabled{
    cursor: default;
}

.details img{
    height: 100px;
    cursor: pointer;
}

.details ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
.summary h3{
    text-align: center;
}

.summary ul {
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 15px;
}
.summary ul li{
    display: flex;
    justify-content: space-between;
}