<div class="temppp"></div>
<div class="cart-container" [style.min-height]="calMinhight()">
    <div *ngIf="isCartempty" class="empty">
        <img src="https://rukminim2.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
        <h5>Your cart is empty!</h5>
        <h6>Explore our wide selection and find something you like</h6>
    </div>
    <div class="cart-items" *ngIf="!isCartempty">
        <div *ngFor="let item of CartDetails, index as i" class="cart-item">
            <img [src]="item.productURL" alt="{{ item.productName }}">
            <div class="item-details">
                <h3>{{ item.productName }}</h3>
                <p>Price: {{ item.productPrice | currency:'INR' }}</p>
                <p>Quantity: {{ item.productQuantity }}</p>
            </div>
            <button class="remove-btn" (click)="RemovetoCart(item.id, i)"><div *ngIf="item.isloader" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Remove</button>
        </div>
    </div>
    <div class="cart-summary">
        <h2>Cart Summary</h2>
        <p>Amount: {{priceSummary.price | currency: 'INR'}}</p>
        <p>Tax: {{priceSummary.tax | currency: 'INR'}}</p>
        <p>Delivery: {{priceSummary.delivery | currency: 'INR'}}</p>
        <p>Discount: {{priceSummary.discount | currency: 'INR'}}</p>
        <h4>Total: {{priceSummary.total | currency: 'INR'}}</h4>
        <button [disabled]="isCartempty" class="checkout-btn">Proceed to Checkout</button>
    </div>
</div>