.cart-container {
    background-color: #f1f2f4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.cart-items {
    background-color: #fff;
    width: calc(75% - 1rem);
    padding: 1rem;
}

.loaderinmob {
    position: absolute;
    width: calc(75% - 1rem);
}

.empty {
    width: calc(75% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.empty img {
    width: 50%;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
}

.cart-item:first-child {
    padding-top: 0;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 20%;
    margin-right: 20px;
    cursor: pointer;
}

.item-details {
    flex: 1;
}

.item-details h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.item-details p {
    margin: 5px 0;
    color: #666;
}

.remove-btn {
    background-color: #7DC855;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #64af3d;
}

.cart-summary {
    position: sticky;
    padding: 20px;
    width: 25%;
    background-color: #fff;
}

.cart-summary h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.checkout-btn {
    background-color: #7DC855;
    color: #fff;
    border: none;
    padding: 6px 16px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.checkout-btn:hover {
    background-color: #64af3d;
}

.one-line-footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #f8f9fa;
    color: #212529;
    padding: 30px 0px;
    font-size: 14px;
}

.one-line-footer a {
    color: #565656;
    text-decoration: none;
}

.one-line-footer a:hover {
    text-decoration: underline;
}

.brand {
    color: #212529;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .empty {
        width: 100%;
    }

    .empty img {
        width: 90%;
    }

    .empty h6 {
        font-size: small;
        margin-bottom: 20px;
    }

    .cart-items {
        padding: 0.5rem;
        width: 100%;
    }

    .loaderinmob {
        position: static;
        width: 100%;
    }

    .cart-item:first-child {
        padding-top: calc(20px - 0.5rem);
    }

    .cart-container {
        flex-direction: column;
        padding: 0.5rem;
    }

    .remove-btn {
        margin-top: 11%;
    }

    .item-details h3 {
        width: 150%;
        height: 25px;
        /* Limiting height to approximately 3 lines */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* Limit to 3 lines */
        -webkit-box-orient: vertical;
    }

    .cart-summary {
        position: sticky;
        bottom: 0.5rem;
        width: calc(100% + 1rem);
        transform: translate(-0.5rem, 0.5rem);
    }
    .cart-summary p{
        display: none;
    }
}


@media (max-width: 535px) {
    .one-line-footer {
        display: none;
    }
}