.cart-page {
    margin-top: 40px;
    margin-bottom: 70px;
}

.roww {
    display: flex;
    justify-content: space-around;
}

.cart-page h1 {
    text-align: center;
}   

.cart-item button,.summary button {
    padding: 7px 15px;
    background: #64af3d;
    color: #fff;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.summary button:disabled {
    cursor: default;
}

.summary h3 {
    text-align: center;
}

.summary ul {
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 15px;
}

.summary ul li {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 55vw;
    margin: 0%;
    background-color: #fff;
}

h2 {
    color: #333;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}

.image-loader{
    height: 80px;
    width: 80px;
    background-color: rgb(228, 228, 228);
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.item-details h6 {
    margin: 0;
}

.item-details p {
    margin: 5px 0;
}

.item-quantity {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.spinning-loader {
    width: 59.375vw;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {

    .spinning-loader {
        height: 20vh;
        width: 100vw;
    }

    .cart-page {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .roww {
        flex-direction: column;
    }

    .container {
        max-width: 100vw;
        background-color: #fff;
        padding: 20px;
    }

    .summary {
        margin-top: 20px;
    }

    .summary button {
        width: 100%;
    }   
}