<div class="temppp"></div>
<div class="cart-container">
    <div class="cart-items">
        <div *ngFor="let item of CartDetails, index as i" class="cart-item">
            <img [src]="item.productURL" alt="{{ item.productName }}">
            <div class="item-details">
                <h3>{{ item.productName }}</h3>
                <p>Price: {{ item.productPrice | currency:'INR' }}</p>
                <p>Quantity: {{ item.productQuantity }}</p>
            </div>
            <button class="remove-btn" (click)="RemovetoCart(item.id, i)"><div *ngIf="item.isloader" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Remove</button>
        </div>
    </div>
    <div class="cart-summary">
        <h2>Cart Summary</h2>
        <p>Amount: {{priceSummary.price | currency: 'INR'}}</p>
        <p>Tax: {{priceSummary.tax | currency: 'INR'}}</p>
        <p>Delivery: {{priceSummary.delivery | currency: 'INR'}}</p>
        <p>Discount: {{priceSummary.discount | currency: 'INR'}}</p>
        <h4>Total: {{priceSummary.total | currency: 'INR'}}</h4>
        <button class="checkout-btn">Proceed to Checkout</button>
    </div>
</div>