<div class="cart-page">
    <h1>
        Cart Page
    </h1>
    <div class="row">
        <div class="spinning-loader" *ngIf="product.isLoader">
            <div *ngIf="!product.serverError" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h1 *ngIf="!product.serverError" style="margin-left: 20px;"> loading...</h1>
            <h1 *ngIf="product.serverError" style="margin-left: 20px; color: red;"> Server is down please contact to Tarun</h1>
        </div>
        <div class="container" *ngIf="!product.isLoader">
            <div class="cart-item" *ngFor="let item of CartDetails; index as i">
                <img routerLink="/product/{{item.id}}" style="cursor: pointer;" src="{{item.productURL}}" alt="Product Image">
                <div class="item-details">
                    <h6>{{item.productName}}</h6>
                    <p>Price: {{item.productPrice | currency: 'INR'}}</p>
                    <p>Quantity: {{item.productQuantity}}</p>
                </div>
                <button (click)="RemovetoCart(item.id, i)" class="form-button"><div *ngIf="item.isloader" class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div> Remove</button>
            </div>
        </div>
        <div class="col-sm-4 summary">
            <h3>Summary</h3>
            <ul>
                <li> <span>Amount:</span><span>{{priceSummary.price | currency: 'INR'}}</span></li>
                <li> <span>Tax:</span><span>{{priceSummary.tax | currency: 'INR'}}</span></li>
                <li> <span>Delivery:</span><span>{{priceSummary.delivery | currency: 'INR'}}</span></li>
                <li> <span>Discount:</span><span>{{priceSummary.discount | currency: 'INR'}}</span></li>
                <li> <span>
                        <h4>Total</h4>
                    </span> <span>
                        <h4>{{priceSummary.total | currency: 'INR'}}</h4>
                    </span></li>
                <button [disabled]="true" class="form-button max-width">Checkout</button>
            </ul>
        </div>
    </div>
</div>