
.container {
    max-width: 350px;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  span {
    cursor: pointer;
  }
  
  span:hover {
    text-decoration: underline;
  }
  
  button {
    display: inline-block;
    background-color: #7DC855;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 30px;
    width: 100%;
    transition: all .5s;
  }
  
  button:hover {
    background-color: #64af3d;
  }
  
  .error-message {
    color: #dc3545;
    font-size: 14px;
    position: absolute;
  }