<div class="seller-auth" [style.min-height]="calMinhight()">
    <div class="form">
        <h1>Seller Login</h1>
        <div *ngIf="isLoader" style="display: flex; justify-content: center; margin-bottom: 10px; align-items: center;">
            <div style="margin-right: 10px;" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div> Please wait...
        </div>
        <form  #sellerLogin = "ngForm" (ngSubmit) = "login(sellerLogin.value)">
            <div class="inputbox">
                <input type="text" ngModel name = "email" required="required">
                <span>Email</span>
            </div>
            <div class="inputbox" style="margin-bottom: 5px;">
                <input type="password" ngModel name = "password" required="required">
                <span>Password</span>
            </div>
            <div class="inputbox" style="margin-top: 30px;">
                <button class="inputbox" ngModule>Login</button>
            </div>
        </form>
        <div style="color: red;">
            <p>{{ SellerLoginfailed }}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>