<!-- signup.component.html -->
<div [style.min-height]="calMinhight()">
    <div class="container">
        <h4 *ngIf="signup">Sign up</h4>
        <h4 *ngIf="!signup">Sign in</h4>
        <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm.value)" class="signup-form" novalidate>
            <div class="form-group" *ngIf="signup">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" name="name" ngModel required minlength="2"
                    maxlength="20">
                <div *ngIf="signupForm.controls['name'].invalid && (signupForm.controls['name'].dirty || signupForm.controls['name'].touched)"
                    class="error-message">
                    <div *ngIf="signupForm.controls['name'].errors?.['required']">Name is required.</div>
                    <div *ngIf="signupForm.controls['name'].errors?.['minlength']">Name must be at least 2
                        characters long.</div>
                    <div *ngIf="signupForm.controls['name'].errors?.['maxlength']">Name cannot be more than
                        20
                        characters long.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" name="email" ngModel required email>
                <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)"
                    class="error-message">
                    <div *ngIf="signupForm.controls['email'].errors?.['required']">Email is required.</div>
                    <div *ngIf="signupForm.controls['email'].errors?.['email']">Invalid email format.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" ngModel required
                    minlength="6">
                <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)"
                    class="error-message">
                    <div *ngIf="signupForm.controls['password'].errors?.['required']">Password is required.</div>
                    <div *ngIf="signupForm.controls['password'].errors?.['minlength']">Password must be at least 6
                        characters long.</div>
                </div>
            </div>
            <button *ngIf="signup" type="submit" class="btn btn-primary btn-block">Sign Up</button>
            <button *ngIf="!signup" type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
    </div>
    <p *ngIf="signup" style="text-align: center; margin: 0; padding: 0;">Already have an account? <span (click)="signup = false;">click to sign in</span></p>
    <p *ngIf="!signup" style="text-align: center; margin: 0; padding: 0;">Dont't have an account? <span (click)="signup = true;">click to sign up</span></p>
</div>

<app-footer></app-footer>