<div class="user-container" [style.min-height]="calMinhight()">

    <!-- User Sign In -->
    <app-signin *ngIf="isSignIn" buttonText="User Sign In" (signIn)="onUserSignIn($event)"></app-signin>
    <div *ngIf="isSignIn" style="text-align: center; font-size: 0.9rem; font-weight: 400; margin-top: 0.5rem;">Don't
        have an Account? <span (click)="isSignIn = false" class="form-toogle">click to sign up</span></div>

    <!-- User Sign Up -->
    <div class="signup-container" *ngIf="!isSignIn">
        <div class="form-group">
            <h1>Sign up</h1>
            <h1>Create your account</h1>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onUserSignUp()">
            <div class="form-group-name">
                <div class="fname">
                    <label class="name" for="firstname">First Name</label>
                    <input class="name" type="text" autocomplete="current-firstname" formControlName="firstname"
                        id="firstname" />
                    <small *ngIf="
                    signupForm.get('firstname')?.errors &&
                    signupForm.get('firstname')?.errors?.['required'] &&
                    signupForm.get('firstname')?.touched
                ">First Name is required</small>
                </div>

                <div class="lname">
                    <label class="name" for="lastname">Last Name</label>
                    <input class="name" style="border: 1px solid;" type="text" autocomplete="current-lastname" formControlName="lastname"
                        id="lastname" />
                </div>
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="email" autocomplete="current-email" formControlName="email" id="emailAddress" />
                <small *ngIf="
                    signupForm.get('email')?.errors &&
                    signupForm.get('email')?.errors?.['required'] &&
                    signupForm.get('email')?.touched
                  ">Email Address is required</small>
                <small *ngIf="
                    signupForm.get('email')?.errors &&
                    signupForm.get('email')?.errors?.['email'] &&
                    signupForm.get('email')?.touched
                  ">Email Address should be valid</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" autocomplete="current-password" formControlName="password" id="password">
                <small *ngIf="
                    signupForm.get('password')?.errors &&
                    signupForm.get('password')?.errors?.['required'] &&
                    signupForm.get('password')?.touched
                  ">Password is required</small>
                <small *ngIf="
                signupForm.get('password')?.errors &&
                signupForm.get('password')?.errors?.['minlength'] &&
                signupForm.get('password')?.touched
              ">must be at least 6 characters long.</small>
            </div>
            <button type="submit" class="btn btn-primary"><div *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> User Sign Up</button>
        </form>
        <div class="failed-message">{{userAuthFailedMessage}}</div>
        <div class="success-message">{{userAuthSucessMessage}}</div>
    </div>
    <div *ngIf="!isSignIn" style="text-align: center; font-size: 0.9rem; font-weight: 400; margin-top: 0.5rem;">Already
        have an Account? <span (click)="isSignIn = true; markAllUnTouched()" class="form-toogle">click to sign in</span></div>
</div>

<!-- Footer -->
<app-footer></app-footer>