.user-container{
    margin-top: 1rem;
}

.signup-container {
    width: 300px;
    background-color: #fff;
    padding: 2rem;
    padding-top: 1rem;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.form-group-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.fname, .lname{
    width: 48%;
}

.fname input, .lname input {
    width: 100%;
    border: 1px solid;
    border-radius: 0;
}

.form-group-name label {
    margin-bottom: 0.5rem;
}

.form-group-name small {
    display: block;
    position: absolute;
    color: red;
    font-size: 0.7rem;
}

.form-group-name .ng-invalid.ng-touched{
    border: 1px solid red;
}

.form-toogle:hover {
    cursor: pointer;
    text-decoration: underline;
}