* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f2f4;
}

body::-webkit-scrollbar {
    display: none;
}

.disable-scroll {
    overflow: hidden;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group h1 {
    margin: 0;
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    border: 1px solid;
    border-radius: 0;
    width: 100%;
}

.signin-container button,
.signup-container button {
    border-radius: 0;
    margin-top: 0.5rem;
    padding: 0.4rem 1rem;
}

.signin-container .form-group .ng-invalid.ng-touched,
.signup-container .form-group .ng-invalid.ng-touched {
    border: 1px solid red;
}

.form-group small {
    display: block;
    position: absolute;
    color: red;
    font-size: small;
}

.failed-message {
    color: red;
    position: absolute;
    transform: translate(-2rem);
    text-align: center;
    width: 300px;
}

.success-message {
    color: green;
    position: absolute;
    transform: translate(-2rem);
    text-align: center;
    width: 300px;
}

.picsum-img-loader::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.9),
            transparent);
    animation: loading 1s infinite;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes loading {
    0% {
        transform: skewX(-10deg) translateX(-100%);
    }

    100% {
        transform: skewX(-10deg) translateX(200%);
    }
}

.loaded {
    animation-duration: 1.2s;
    animation-delay: .3s;
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-fill-mode: backwards;
    animation-duration: .8s;
    animation-name: fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}