.search {
    margin: 1rem;
    margin-top: 0;
    background-color: #fff;
}

img {
    width: 100%;
    height: 170px;
    cursor: pointer;
    object-fit: cover;
    object-position: 50% 20%;
    border-bottom: 1px solid #e0e0e0;
}

.containerr {
    margin: 0 30px;
}

.filter-container {
    background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-header {
    background-color: #787878;
    color: #fff;
    /* border-radius: 10px 10px 0 0; */
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #787878;
    border-color: #787878;
    width: 100%;
}

.search-results {
    padding: 20px;
}

/* Add more CSS as needed for product cards */


.product-card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    /* height: 50px; */
    /* Limiting height to ensure consistent card size */
    height: 20px;
    /* Limiting height to approximately 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    height: 20px;
    /* Limiting height to approximately 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #388e3c;
    margin-bottom: 10px;
}

#mob {
    display: none;
}


@media (max-width: 576px) {

    #mob {
        display: block;
    }

    /* Hide filter container by default */
    .filter-overlay {
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* semi-transparent overlay */
        z-index: 1000;
        /* higher z-index to appear above other content */
    }

    /* Style the close button */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .temppp {
        height: calc(0.5rem - 7px);
    }

    .search {
        margin: 0.5rem;
        margin-top: 0;
    }

    .containerr {
        margin: 10px;
    }

    .search-results {
        padding: 5px;
    }

    .card-body {
        padding: 10px;
    }

    img {
        height: 120px;
    }

    .filter-container {
        display: none;
    }

    .filter-containerr {
        background-color: #fff; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 0 1rem;
        border: none;
    }

    .filterbtn {
        margin: 1rem;
        margin-top: 0;
    }
}