/* .item-search{
    margin: 25px auto;
    width: 800px;
    border-top: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.details-product p{
    margin-left: 0;
}

.item-search img{
    width: 100%;
    object-fit: contain;
    height: 150px;
    cursor: pointer;
}

.item-search h6{
    font-size: 24px;
    cursor: pointer;
}

.item-search .product-price{
    font-weight: 600;
    color: rgb(84, 83, 83);
}

.item-search p{
    margin: 5px;
    color: rgb(80, 79, 79);
}

.mob {
    height: 150px; 
    width: 150px; 
    margin: 0 50px;  
    background-color: rgb(228, 228, 228);
}

.spinning-loader{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 851px) {

    .spinning-loader {
        height: 60vh;
    }

    .spinning-loader h1{
        text-align: center;
    }

    .mob{
        margin-left: 30%;
        margin-bottom: 10px;
    }

    .last{
        margin-bottom: 60px;
    }
} */


img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: 50% 20%;
    border-bottom: 1px solid #e0e0e0;
}

.containerr {
    margin: 0 30px;
}

.filter-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    position: fixed;
    width: 22%;
}

.card-header {
    background-color: #787878;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #787878;
    border-color: #787878;
    width: 100%;
}

.search-results {
    padding: 20px;
}

/* Add more CSS as needed for product cards */


.product-card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    /* height: 50px; */
    /* Limiting height to ensure consistent card size */
    height: 20px;
    /* Limiting height to approximately 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    height: 20px;
    /* Limiting height to approximately 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #388e3c;
    margin-bottom: 10px;
}   

@media (max-width: 576px) {


    .containerr {
        margin: 10px;
    }

    .search-results {
        padding: 5px;
    }

    .card-body {
        padding: 10px;
    }

    img {
        height: 120px;
    }

    .filter-container {
        display: none;
    }
}