.home-container {
    background-color: #f1f2f4;
    margin: 1rem;
}

.row > * {
    padding-right: calc(var(--bs-gutter-x)* .25);
}

.picsum-img-loader {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: rgb(228, 228, 228);
}

.loader-image {
    height: 170px;
    background-color: rgb(228, 228, 228);
}

.picsum-img-wrapper img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 60%;
}

.trending-products {
    margin-top: 1rem;
    padding: 1rem;
    padding-right: 1.5rem;
    background-color: #fff;
}

.trending-products h2 {
    margin-bottom: 1rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    color: #333;
}

.product-card {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: Roboto, Arial, sans-serif;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    height: 170px;
    object-fit: cover;
    cursor: pointer;
    object-position: 50% 10%;
    border-radius: 0;
}

.product-card .card-body {
    padding: 20px;
}

.product-card .card-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-card .card-text {
    color: #6c757d;
}

@media (max-width: 535px) {

    .row > * {
        padding-right: calc(var(--bs-gutter-x)* .12.5);
    }

    .home-container {
        margin: 0.5rem;
    }

    .product-card img {
        height: 150px;
    }

    .trending-products {
        margin-top: 0.5rem;
        padding: 0.5rem;
        padding-right: 1.25rem;
    }

    .picsum-img-loader {
        height: 170px;
    }

    .loader-image {
        height: 150px;
    }

    .picsum-img-wrapper img {
        width: 100%;
        object-fit: cover;
        height: 170px;
    }

    .trending-products h2 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}