.home {
    background-color: #f1f2f4;
    padding: 1.5rem;
    /* margin-bottom: 20px; */
}

.picsum-img-wrapper img {
    width: 100%;
    height: 300px;
}

.picsum-img-wrapperr {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: rgb(228, 228, 228);
}

.trending-products {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: #fff;
}

.trending-products h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    object-position: 50% 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card .card-body {
    padding: 20px;
}

.product-card .card-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-card .card-text {
    color: #6c757d;
}

.product-card .btn {
    background-color: #17a2b8;
    color: #fff;
    border: none;
}

.product-card .btn:hover {
    background-color: #138496;
}


@media (max-width: 535px) {

    .product-card img {
        height: 150px;
    }

    .home {
        padding: 1rem;
        padding-top: calc(1rem - 10px);
    }

    .trending-products{
        padding: 1rem;
    }

    .picsum-img-wrapperr {
        height: 170px;
    }

    .picsum-img-wrapper img {
        width: 100%;
        object-fit: cover;
        height: 170px;
    }
}