body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.seller-auth{
    margin: 1rem;
    background-color: #fff;
}

.center form{
    margin-top: 30px;
}

.center {
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 0px;
    flex-direction: column;
    width: 300px;
    position: relative;
    padding-top: 0px;
    background: #fff;
    border-radius: 10px;
}

.center h1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    padding: 10px;
    color: black;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 25px;
}

.center .inputbox input{
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid black;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox select {
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    border: 2px solid black;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.center a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.center .inputbox button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: black;
    color: #fff;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
}


.spinning-loader{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .inputbox:hover button {
    background: linear-gradient(45deg, black, rgb(231, 96, 81));
}


@media only screen and (max-width: 851px) {

    .seller-auth{
        margin: 0.5rem;
    }
    
    .spinning-loader {
        height: 60vh;
        width: 100vw;
    }
}