body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.seller-auth{
    margin-top: 10px;
    margin-bottom: 80px;
}

.center form{
    margin-top: 30px;
}

.center {
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 0px;
    flex-direction: column;
    width: 300px;
    position: relative;
    padding-top: 0px;
    background: #fff;
    border-radius: 10px;
}

.center h1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    padding: 10px;
    color: rgb(225, 110, 110);
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid rgb(225, 110, 110);
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 25px;
}

.center .inputbox input{
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid rgb(225, 110, 110);
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox select {
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    border: 2px solid rgb(225, 110, 110);
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.center a{
    color: rgb(225, 110, 110);
    text-decoration: none;
    cursor: pointer;
}

.center .inputbox button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: rgb(225, 110, 110);
    color: #fff;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.center .inputbox:hover button {
    background: linear-gradient(45deg, rgb(225, 110, 110), rgb(231, 96, 81));
}