<!-- Loader -->
<div class="d-flex justify-content-center align-items-center" *ngIf="isLoader" [style.min-height]="calMinhight()">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h1 style="margin-left: 20px;"> loading...</h1>
</div>

<!-- Update Product Form -->
<div class="update-product-container" [style.min-height]="calMinhight()">
    <div *ngIf="!isLoader">
        <app-product-form buttonText="Update Product" [updateProductData] = "productData" formName="Update the Product" (productAddUpdate)="updateProduct($event)"></app-product-form>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>